<style>
    .blog-tab-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display:flex;
      justify-content:center;
      margin-top: 10px;
    }
  
    .blocg-tab-button {
      display: inline-block;
      margin-right: 10px; 
      text-align:center;
    }
  
    .blog-tab-link {
      display: block;
      padding: 10px;
      color: #fff; 
      text-decoration: none;
      border-radius: 5px;
    }
  </style>


  <ul class="blog-tab-list">
    <li class="blocg-tab-button  {% if current_tags == blank %}custom-button-secondary_color {% else %}custom-button-secondary{% endif %}">
      <a class="blog-tab-link" href="{{ blog.url }}">All Posts</a>
    </li>
    {% for tag in blog.all_tags %}
      {% if tag contains 'category' %}
        {% assign badge_text = tag | split: '_' | last %}
          <li class="blocg-tab-button {% if current_tags contains tag %}custom-button-secondary_color{% else %}custom-button-secondary {% endif %}">
            <a class="blog-tab-link" href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ badge_text }}</a>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
  