{% assign pageUrl = canonical_url | split: "/" | last %}
{% assign pagefullUrl = canonical_url %}

{{ 'custom-account-sidebar.css' | asset_url | stylesheet_tag }}


<div class = "sidebar-wrapper">
    <a href = "/account" class = "button {% if pageUrl == "account" %}custom-button-secondary_color {% else %}custom-button-secondary{% endif %}  button-sidebar">
        <span class = "sidebar-icon">
            {% render 'custom-icon-account-page', icon-name : 'account' %}
        </span>
        <span class = "sidebar-heading">Account Details</span>
    </a>

    <a href = "/pages/orders" class = "button {% if pageUrl == "orders" %}custom-button-secondary_color {% elsif pagefullUrl == order.customer_url %} custom-button-secondary_color {% else %}custom-button-secondary{% endif %} button-sidebar" >
        <span class = "sidebar-icon">
            {% render 'custom-icon-account-page', icon-name : 'orders' %}
        </span>
        <span class = "sidebar-heading">My Orders</span>
    </a>
 
    <a href = "/account/addresses" class = "button {% if pageUrl == "addresses" %}custom-button-secondary_color {% else %}custom-button-secondary{% endif %} button-sidebar" >
        <span class = "sidebar-icon">
            {% render 'custom-icon-account-page', icon-name : 'address' %}
        </span>
        <span class = "sidebar-heading">View Address</span>
    </a>

    <a href = "#" class = "button custom-button-secondary button-sidebar" >
        <span class = "sidebar-icon">
            {% render 'custom-icon-account-page', icon-name : 'wishlist' %}
        </span>
        <span class = "sidebar-heading">Wishlist</span>
    </a>

    <a href = "#" class = "button custom-button-secondary button-sidebar" >
        <span class = "sidebar-icon">
            {% render 'custom-icon-account-page', icon-name : 'need-help' %}
        </span>
        <span class = "sidebar-heading">Need Help?</span>
    </a>

    <a href="{{ routes.account_logout_url }}" class = "button custom-button-secondary button-sidebar" >
        <span class = "sidebar-icon">
            {% render 'custom-icon-account-page', icon-name : 'signout' %}
        </span>
        <span class = "sidebar-heading">Sign Out</span>
    </a>

</div>
