{% style %}

.sidebar-wrapper{
  margin-top: 10px;
}
.button-sidebar{
    width: 100%;
    margin-bottom: 8px;
    text-align: left;
    display:flex;
    justify-content:start;
    padding-left:30px;
    padding-top: 5px;
    align-items:center;
}
.sidebar-heading{
    margin-left: 5px;
}

{% endstyle %}

<div class = "sidebar-wrapper">
    <a href = "/account" class = "button custom-button-secondary button-sidebar">
        <span>
            {% render 'custom-icon-account' %}
        </span>
        <span class = "sidebar-heading">Account Details</span>
    </a>

    <a href = "/pages/orders" class = "button custom-button-secondary button-sidebar">
        <span>
            {% render 'custom-icon-orders' %}
        </span>
        <span class = "sidebar-heading">My Orders</span>
    </a>

    <a href = "/account/addresses" class = "button custom-button-secondary button-sidebar">
        <span>
            {% render 'custom-icon-address' %}
        </span>
        <span class = "sidebar-heading">View Address</span>
    </a>

    <a href = "#" class = "button custom-button-secondary button-sidebar">
        <span>
            {%  render 'custom-icon-whishlist' %}
        </span>
        <span class = "sidebar-heading">Wishlist</span>
    </a>

    <a href = "#" class = "button custom-button-secondary button-sidebar">
        <span>
            {%  render 'custom-icon-help' %}
        </span>
        <span class = "sidebar-heading">Need Help?</span>
    </a>

    <a href = "#" class = "button custom-button-secondary button-sidebar">
        <span>
            {%  render 'custom-icon-signout' %}
        </span>
        <span class = "sidebar-heading">Sign Out</span>
    </a>

</div>