.custom-article{
    position: relative;
  }
  
  .custom-article__heading-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px; 
    
  }
  .custom-article__heading{
    color:#fff;
  }
  .custom-article__content{
    display: flex;
    flex-direction: column;
  }

  .custom-article__slide{
    display:flex;
    width:100%;
    border: 1px solid lightgrey;
  }
  .custom-article__image{
    width: 40%;
    height:auto;
  }
  .custom-article__content{
    width: 60%;
    padding: 15px;
    line-height: 28.8px;
  }
  .custom-article__horizondal-line{
    margin: 0px;
    padding: 0px;
  }
 .custom-article__image img{
  
    object-fit:cover;
    object-position:center;
    transition: transform 0.4s ease-in-out;
  }
  
  .custom-article__image:hover img{
    transform: scale(1.1);
  } 
  
  
  .custom-article .splide__arrow--next {
      right: 0;
      width: 50px;
      height: 50px;
      opacity: 1;
      background: #D03C3F;
      border-radius: 50% 0 0 50%;
  }
  
  .custom-article .splide__arrow svg {
      fill: #fff;
      height: 1.2em;
      width: 1.2em;
      z-index:2;
  }
 
  .custom-article .splide__arrow--prev {
      left: 0;
      width: 50px;
      height: 50px;
      opacity: 1;
      background: #D03C3F;
      border-radius: 0 50% 50% 0;  
  }
  
  .custom-article .splide__arrow--prev:disabled, .custom-article .splide__arrow--next:disabled{
    display: none;
  } 
  
  .custom-article .splide__arrow--prev::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%; 
      bottom: 0;
      left: 0;
      background: linear-gradient(to right, transparent 50%, #000 50%);
      background-size: 200% 100%;
      transition: background-position 0.3s ease-in-out;
      overflow: hidden;
      border-radius: 0 50% 50% 0;
  }
  .custom-article .splide__arrow--next:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%; 
      bottom: 0;
      left: 0;
      background: linear-gradient(to right, transparent 50%, #000 50%);
      background-size: 200% 100%;
      transition: background-position 0.3s ease-in-out;
      overflow: hidden;
      border-radius: 50% 0 0 50%;
  }
  
  .custom-articlet .splide__arrow--prev:hover::before {
      background-position: -100% 0;
  }
  
  .custom-article .splide__arrow--next:hover::before {
      background-position: -100% 0;
  }
  

  .custom-article__tags{
    color:#D03C3F;
    font-weight: 800;
    margin-right: 5px;
  }
  .custom-article__bottom{
    display:flex;
    justify-content: space-between;
  }
  .custom-article__button{
    color:black;
  }
  .custom-article__button:hover{
    color:#D03C3F;
  }

.custom-article__slide-grid{
    margin-bottom: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.custom-article__excert{
    -webkit-line-clamp: 2;
}
.custom-article__title{
    text-decoration: none;
}
.custom-article__title:hover{
    color:#D03C3F;
}
.custom-article__author{
    margin-top: 8px;
}
.custom-article__image-grid{
    height:60%;
}

@media screen and (min-width: 750px){
    .custom-article__mobile{
        display:none
}
    .custom-article__heading-section{
        flex-direction: row;
        background: none;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 749px){
    .custom-article__descktop{
        display:none
    }
    .custom-article__author{
        margin-top: 4px;
    }
}