.custom-image-grid__card{
    box-sizing: border-box;
    overflow: hidden;
    /* padding:24px; */
    text-align: center;
}
.custom-image-grid__image{
    transition: transform 0.3s ease-in-out;
}

.custom-image-grid__image:hover{
    transform: scale(1.1);
}
/* .custom-image-grid__position_relative {
    position: relative;
  }
.custom-image-grid__position_absolute {
    position: absolute;
    top: 0;
    left: 0;
    
} */