.custom-single-image-grid__text-container{
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    color:#ffffff;
    text-align: center;
    padding: 20px;
}

.custom-single-image-grid__image img{
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    object-position: center;
}    
.custom-single-image-grid__wrapper img{
    height: 60vh;
    box-sizing:border-box;
    overflow: hidden;
    
}
.custom-single-image-grid__wrapper:hover{
   .custom-single-image-grid__image img{
     transform: scale(1.1);
   }
}
.hl-white{
    color:white;
}
@media only screen and (max-width: 750px){
    .custom-single-image-grid__wrapper img{
        height: 150vh;
    }    
}