.lookbook__dot{
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    color:black;
}
.lookbook__dot-simpel{
    height: 2.4rem;
    width: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    margin-right:10px;
    cursor:pointer;
    flex-shrink: 0;
}
.lookbook__product-card{
    background: #fff;
    padding: 8px;
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 75%;
}  
.lookbook__product-image{
    width: 80px;
    height:auto;
    margin-right:5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.lookbook__product {
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    transform: translateX(5%);
}
.lookbook__dot-simpel:hover{
    transform: scale(1.1);
}
.lookbook__dot:hover .lookbook__product {
    opacity: 1;
    transform: translateX(0);
    pointer-events: unset;
    visibility: unset;
}

.lookbook__content{
    margin-top:15px;
    line-height: normal;
}
.lookbook__product-title{
    text-decoration: none;
    line-height: normal;
}
.lookbook__product-title:hover{
    color:#D03C3F;
}
.lookbook__heading{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 31.2px;
    margin-bottom: 5px;
}
.lookbook__description{
    font-size:18px;
    letter-spacing: 0.3px;
}
.lookbook__button{
    margin-top:10px;
}

@media only screen and (max-width: 750px){
    .lookbook__small{
        margin-bottom: 25px;
    }
    .lookbook__heading{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.3px;
        line-height: 23.4px;
        margin-bottom: 5px;
    }
    .lookbook__description{
        font-size:14px;
    }
}